.formContainer{
    display:flex;
    flex-direction: column;
    max-width:700px;
    width:100%;
}
.inputContainer{
    display:flex;
    flex-direction: column;
}
.inputContainer label{
    padding: 10px 0;
}
.inputContainer input{
height:50px;
}
.inputContainer input, .inputContainer textarea{
    border-radius: 10px;
}
:global(.react-international-phone-input-container){
    border: 1px solid var(--border) !important;
    border-radius: 10px !important;
}
:global(.react-international-phone-input){
    height:50px !important;
    width:100% !important;
    background-color: var(--bg-card) !important;
    font-size: var(--fs-body-m) !important;
    color: var(--text) !important;
    padding: 8px 12px !important;
    border: 1px solid var(--border) !important;
}
:global(.react-international-phone-country-selector-button){
    height:50px !important;
    background-color: var(--bg-card) !important;
    font-size: var(--fs-body-m) !important;
    color: var(--text) !important;
    padding: 8px 12px !important;
    border: 1px solid var(--border) !important;
}
:global(.react-international-phone-country-selector-dropdown){
    background-color: var(--bg-card) !important;
    color: var(--text) !important;
    border: 1px solid var(--border) !important;
    border-radius: 10px !important;
}
:global(.react-international-phone-country-selector-dropdown__list-item:hover){
    background-color: var(--bg-soft) !important;
      color: var(--text) !important;
    
}
.submitButton{
    width: 100%;
    font-weight: bold;
     margin: 15px auto;
     padding: 15px 0;
     border-radius: 10px;
}