/*GLOBAL PAGE LAYOUT*/

.root-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page {
  padding: 80px 6%;
  flex: 1;
  background-color: var(--bg);
  color: var(--text);
}

/*BASIC PAGE TYPOGRAPHY*/

.page h1 {
  font-size: 56px;
  margin-bottom: 24px;
}

.page p {
  font-size: 20px;
  color: var(--text-muted);
  max-width: 700px;
  line-height: 1.6;
}