:root {
}
*{
  margin:0;
  padding:0;
}
body{
  font-size: 18px;
}
main{
    flex:1;
}
li{
  list-style: none;
}
.logo{
    font-size: 40px;
    width: 20%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding:0 1rem;
    margin:0 auto;
    
}