.footer {
  padding: 60px 6%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 50px;
  background-color: var(--bg-footer);
  color: var(--text);
}

/* headers */
.footer h2 {
  font-size: 26px;
  margin-bottom: 16px;
}

.footer h3 {
  font-size: 16px;
  font-weight: var(--fw-semibold) ;
  width:120px;
  white-space: nowrap;
 
  padding-bottom:5px;
  border-bottom: 1px solid var(--border-strong);
  margin-bottom: 10px;
}

/* main text */
.footer p {
  max-width: 320px;
  line-height: 1.6;
}

/* links */
.footer a {
  display: block;
  margin-bottom: 8px;
  font-size: var(--fs-body-s);
  transition: 0.2s;
}

.footer a:hover {
  transform: translateX(3px);
}

/* bottom line */
.footer::after {
  content: "© 2026 Titan Lab. All rights reserved.";
  grid-column: 1 / -1;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid var(--border-strong);
  font-size: 13px;
  color: var(--text-muted);
}

/* Mobile */
@media (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.footer h2,
.footer h3,
.footer p,
.footer a {
  color: inherit;
}

.footer a:hover {
  color: var(--yellow);
}