.header {
  width: 100%;
  padding: 10px 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eeeeee;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  filter: drop-shadow(0 0 6px rgba(0,0,0,0.25));
}


.nav {
  display: flex;
  gap: 26px;
}

.nav a {
  color: #222222;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  position: relative;
}

.nav a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #e63946;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: width 0.2s;
}

.nav a:hover::after {
  width: 100%;
}

.headerActions {
  display: flex;
  align-items: center;
  gap: 55px;
}

.joinButton {
  padding: 12px 24px;
  background-color: #111111;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 700;
  transition: 0.2s;
}

.joinButton:hover {
  background-color: #e63946;
  transform: translateY(-2px);
}

@media (max-width: 900px) {
  .header {
    flex-direction: column;
    gap: 18px;
  }

  .nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }
  .headerActions {
  justify-content: center;
}
}

/*Theme color regulation*/
.themeButton {
  padding: 10px 16px;
  background: transparent;
  color: #111111;
  border: 1px solid #dddddd;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
}

.themeButton:hover {
  border-color: #e63946;
  color: #e63946;
}