.header {
  width: 100%;
  padding: 10px 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-strong);
  background-color: var(--bg-header);
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  filter: drop-shadow(0 0 6px rgba(0,0,0,0.25));
}

.nav {
  display: flex;
  gap: 26px;
}

.nav a {
  color: var(--text);
  font-size: var(--fs-body-m);
  font-weight: var(--fw-semibold);
  position: relative;
}

.nav a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--red);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: width 0.3s;
}

.nav a:hover::after {
  width: 100%;
}

.headerActions {
  display: flex;
  align-items: center;
  gap: 55px;
  height:70px;
}

.joinButton {
  padding: 12px 24px;
  background-color: var(--text);
  color: var(--bg);
  text-decoration: none;
  border-radius: 8px;
  font-weight: var(--fw-bold);
  transition: 0.2s;
}

.joinButton:hover {
  background-color: var(--red);
  transform: translateY(-2px);
}


/*Theme color regulation*/
.themeSwitchContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:20px;
    height:100%;
    width:90px;
}
.themeSwitch{
    position:relative;
    width:55px;
    height:30px;
}
.themeSwitch input{
  display: none;
}
.slider{
    position: absolute;
    inset:0;
    background-color: rgb(109, 109, 109);
    border-radius: 26px;
    cursor:pointer;
    /* transition: background 0.25s; */
}
.switchName{
    font-size: 15px;
    font-weight: var(--fw-semibold);
    margin-top:5px;
}

.slider::before{
    content:"";
    position: absolute;
    width:21px;
    height:21px;
    left:5px;
    bottom:3px;
    background:white;
    border-radius: 50%;
    transition: transform 0.30s;
}

/* .themeSwitch input:checked + .slider{
    background: var(--yellow);
} */
.themeSwitch input:checked + .slider::before{
    transform: translateX(25px);
}


/* .themeButton {
  padding: 10px 16px;
  background: transparent;
  color: #111111;
  border: 1px solid #dddddd;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
}

.themeButton:hover {
  border-color: #e63946;
  color: #e63946;
} */

@media (max-width: 900px) {
  .header {
    flex-direction: column;
    gap: 18px;
  }

  .nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }
  .headerActions {
  justify-content: center;
}
}

