.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-footer);
    color: var(--text);
}
.dividerContainer{
  position: relative;
  width: 100%;
}
.line{
  width: 100%;
  height: 2px;
  background-color: var(--yellow);
}
.logoWrap{
  position: absolute;
  left: 50%;
  top:50%;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}
.logoWrap img{
  width:100%;
  height: 100%;
  object-fit: contain;
}

.gymName{
    display: flex;
    flex-direction: column;
   width:40%;
}
.footerDetail{
  padding: 60px 6%;
  display: flex;
  gap: 50px;
  width:100%;
}
.footerColumns{
    display: flex;
    justify-content: space-evenly;
    width:60%;
    gap:30px;
}

/* headers */
.footer h2 {
  font-size: 26px;
  margin-bottom: 16px;
}

.footer h3 {
  font-size: 16px;
  font-weight: var(--fw-semibold) ;
  width:120px;
  white-space: nowrap;
 
  padding-bottom:5px;
  border-bottom: 1px solid var(--border-strong);
  margin-bottom: 10px;
}

/* main text */
.footer p {
  max-width: 320px;
  line-height: 1.6;
}

/* links */
.footer a {
  display: block;
  margin-bottom: 8px;
  font-size: var(--fs-body-s);
  transition: 0.2s;
}

.footer a:hover {
  transform: translateX(3px);
}

.copyRight{
    display: flex;
    height: 100%;
    width: 93%;
    margin: 0 auto;
    border-top: 1px solid var(--border-strong);
    color: var(--text-muted);
    justify-content: space-between;
    align-items: center;
}
.copyRight p{
     padding: 20px 0 10px 20px;
    font-size: var(--fs-code);
}
.icons{
    padding-right:30px;
    display: flex;
}
.icons a:hover{
     transform: translateX(0);
}
.socialLogo{
    cursor:pointer;
    height:25px;
    padding-right:20px;
}


/* Mobile */
@media (max-width: 800px) {
  .footerDetail {
    flex-direction: column;
  }
  .footerColumns{
    width: 100%;
  }
  .gymName{

    align-items: center;
    width: 100%;
  }
}

.footer h2,
.footer h3,
.footer p,
.footer a {
  color: inherit;
}

.footer a:hover {
  color: var(--yellow);
}