.header {
  width: 100%;
  height:100px;
  padding: 0 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-strong);
  background-color: var(--bg-header);
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo img {
  height: 100px;
  padding:7px;
  object-fit: contain;
  filter: drop-shadow(0 0 6px rgba(0,0,0,0.25));
}
.mobileLogo{
    display: none;
    cursor: pointer;
}
.mobileLogo h2{
     font-size:35px;
     text-align:center;
     margin:0;

}

.navPc {
  display: flex;
  gap: 26px;
  white-space: nowrap;
  align-items: center;
  height:100%;
}
.navMobile{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    position:absolute;
    top:101%;
    left: 0;
    background-color: var(--bg-header);
    transition: max-height 0.3s ease;
}
.navMobile.open{
    max-height: 800px;
  }
.navMobile a{
    border-bottom:1px solid var(--border-strong);
    text-align: center;
     justify-content: center;
    width: 100%;
    padding:10px; 
    transition: background-color 0.3s ease;
}
.navMobile a:hover{
    color:var(--red)
    
}

.navPc a, .navMobile a, .navItem {
    display: flex;
    align-items: center;
  color: var(--text);
  font-size: var(--fs-body-m);
  font-weight: var(--fw-semibold);
  position: relative;
}
.navPc a, .navItem{
      height: 60px;
}

.navPc a::after, .navItem::after{
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--red);
  position: absolute;
  left: 0;
  bottom: 5px;
  transition: width 0.3s;
}
.navPc a:hover, .navItem:hover{
    color:var(--yellow-deep);
}

.navPc a:hover::after,.navItem:hover::after{
  width: 100%;
}

.headerActions {
  display: flex;
  align-items: center;
  gap: 55px;
  height:70px;
  
}

.joinButton {
  padding: 12px 24px;
  background-color: var(--text);
  color: var(--bg);
  text-decoration: none;
  border-radius: 8px;
  font-weight: var(--fw-bold);
  transition: 0.2s;
  white-space: nowrap;
}

.joinButton:hover {
  background-color: var(--red);
  transform: translateY(-2px);
}


/*Theme color regulation*/
.themeSwitchContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:20px;
    height:100%;
    width:90px;
}
.themeSwitch{
    position:relative;
    width:55px;
    height:30px;
}
.themeSwitch input{
  display: none;
}
.slider{
    position: absolute;
    inset:0;
    background-color: rgb(109, 109, 109);
    border-radius: 26px;
    cursor:pointer;
}
.switchName{
    font-size: 15px;
    font-weight: var(--fw-semibold);
    margin-top:5px;
}

.slider::before{
    content:"";
    position: absolute;
    width:21px;
    height:21px;
    left:5px;
    bottom:3px;
    background:white;
    border-radius: 50%;
    transition: transform 0.30s;
}

.themeSwitch input:checked + .slider::before{
    transform: translateX(25px);
}

.burgerButton{
    display: none;
    flex-direction: column;
    background:none;
    border:none;
    cursor:pointer;
    gap:9px;
    padding:4px;
}
.burgerButton span{
    display: block;
    width:40px;
    height:3px;
    border-radius: 5px;
    background-color: var(--text);
    transition: transform 0.3s, opacity 0.3s;
}
.burgerButton.open .line1{
    transform:translateY(12px) rotate(45deg);
}
.burgerButton.open .line2{
   opacity:0;
}
.burgerButton.open .line3{
    transform:translateY(-12px) rotate(-45deg);
}


.navItem{
     display: flex;
     align-items: center;
     position: relative;
}
.navItem.mobile{
    height:auto;
}

.navItem.mobile  .navItemTrigger {
    padding:10px;
    border-bottom: 1px solid var(--border-strong);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    }
 
 
.dropdownMenu{
    position:absolute;
    display: none;
    flex-direction: column;
    width:165px;
    top:100%;
    left:0;
    border-left:1px solid var(--border-strong);
    border-right:1px solid var(--border-strong);
    background-color: var(--bg-header);
    padding: 0;
}
 .dropDownMenuMobile{
    display: none;
    flex-direction: column;
    width:100%;
    top:100%;
    left:0;
    margin:0;
    padding: 0;
}

.visible {
    display: flex;
}
 
.dropdownMenu a{
    white-space: nowrap;
    border-bottom: 1px solid var(--border-strong);  
    padding:10px 12px;
    cursor: pointer;
    list-style: none;
    margin:0;
    height:40px;
    transition: background-color 0.3s ease;
}

.dropdownMenu a:hover, .navMobile a:hover{
    background-color: var(--yellow-deep);
}
.navItem.mobile:hover{
    background-color: var(--yellow-deep);
    color:var(--red);
}
.navItem.mobile a{
    background-color: var(--bg-header);
    color:var(--yellow-deep)
}
.navItem.mobile a:hover{
    color:var(--red);
}
.dropdownMenu a:hover{
    color:var(--bg)
}
.dropdownMenu a:hover::after, .navItem.mobile:hover::after{
    width:0;
}


.arrow{
    display: inline-block;
    width:7px;
    height: 7px;
    border-right:2px solid;
    border-bottom: 2px solid;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
    margin-left:8px;
    margin-bottom:3px;
}
.arrow.open{
    transform: rotate(-135deg);
    margin-bottom:-2px;
}

    


@media (max-width: 1250px) {
  .navPc {
   display: none;
  }

  .burgerButton{
   display: flex;
  }
  .navItem{
    width:100%;
    flex-direction: column;
  }
  


}
@media (max-width: 900px){
    .logo{
        display: none;
    }
    .mobileLogo{
        display: flex;
    
    }
}
@media (max-width: 650px){
    .header{
        flex-direction: column;
        height:150px;
        padding:0;
        gap:10px;
        align-items: center;
        justify-content: center;
    }
    .headerActions{
        display: flex;
        justify-content:space-evenly;
        width: 100%;
     
    }
    .burgerButton{
        margin-right:15px;
    }
    .mobileLogo{
       justify-content: center;
       width: 100%;
    }
    .joinButton{
        margin-right:25px;
    }
   
   
}